extends lay.pug

block content
    h1.ui.center.aligned.header Task Saved
    table.ui.celled.table.center.aligned
        thead
            tr
                th Id
                th Title
                th Notes
                th Status
                th updated
        tbody
                tr
                    td #{task.id}
                    td #{task.title}
                    td #{task.notes}
                    td #{task.status}
                    td #{task.updated}
        tfoot
            tr
                th(colspan='6')